.btn {
  display: inline-block;
  padding: 14px;
  border: none;
  border-radius: 33px;
  font-size: map-get($font-size,font-xs);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-in 0.1s;

  &-primary {
    background-color: map-get($color, primary-color);
    color: map-get($color, "black");
  }

  &-secondary {
    background-color: map-get($color, "white");
    color: map-get($color, "black");
  }
}

@include respond-to-mobile {
  .btn {
    padding: 7px ;
  }  

}