header {
  background-color: map-get($color, "black");
}
.section-header {
  position: relative;
  width: 100%;
  .header {
    &-inner {
      position: static;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
      margin: 0;
    }
  }
}
.section-cart {
  padding: 50px 0;
  
}
.product-remove .remove-link {
  padding: 15px;
}

.product-img {
  width: 100px;
}
.cart_quantity_input {
  color: map-get($color, "dark-gray");
  text-align: center;
  width: 50px;
  padding: 0;
}
.cart_quantity_button {
  display: flex;
  display: flex;
    justify-content: center;
}
.cart_quantity_button a {
  background: map-get($color, "light-gray");
  color: map-get($color, "dark-gray");
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  line-height: 28px;
}
