header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: map-get($color, "black");
}
.section-header {
  position: relative;
  width: 100%;

  .show-email{
    display: flex;
    justify-content: flex-end;
    color: map-get($color, primary-color );
  }
  .header {
    &-inner {
      position: static;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      margin: 0;
    }
  }
}
.menu {
  display: flex;
  justify-content: space-between;

  &.sub-menu-list {
    gap: 0 96px;
    font-size: map-get($font-size, md-2);
    font-weight: map-get($font-weight, w700);
    line-height: 27px;

    &:hover {
      color: map-get($color, "white");
    }
  }

  &.action-list {
    gap: 0 24px;
  }
  .action-link {
    position: relative;
    color: map-get($color, "white");

    &:hover {
      color: map-get($color, "primary-color");
    }
  }
}

.action-hamburger {
  display: none;
}
.total-cart {
  font-size: 10px;
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  top: -4px;
  left: 12px;
}

@include respond-to-mobile {
  .section-header {
    .header {
      &-inner {
        position: relative;
        margin: 20px 0;
      }

      &-nav {
        display: none;
      }

      &-brand {
        color: map-get($color, "black");
      }
    }
  }
  .image-logo {
    svg path {
      fill: map-get($color, "black");
    }
  }
  .action {
    display: none;
  }
  .action-hamburger {
    display: block;
  }
}
